.selectedHex polygon {
    /* -webkit-filter: drop-shadow( 3px 3px 2px rgb(0, 0, 0));
    filter: drop-shadow( 3px 3px 2px rgb(0, 0, 0)); */
    stroke-opacity: 1;
    opacity: 0.7;
    stroke-width: 2;

    -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 1));
    /* fill: none; */
}

.selectedHex.path-painted polygon {
    /* stroke-opacity: 1; */
    stroke-width: 3;
    opacity: 0.6;

    -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 1));
}

/* .selectedHex {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    fill: black;
} */